
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка 404</title>
    {% load static %}
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet" />
</head>
<body>
  {% include 'flatpages/blocks/nav_bar.html' %}
  <div class="big_margin" style="text-align: center">
    <h1>404</h1>
    <br>
    <p>Данная страница не найдена</p>
  </div>
</body>
<footer>
    {% include 'flatpages/blocks/footer.html' %}
</footer>
</html>