{% extends 'flatpages/default.html' %}

{% load custom_filter %}
{% load custom_tags %}

{% block title %}
    {{ is_kind }}
{% endblock title %}

{% block content %}
    <h1>{{ is_kind }}</h1>
    <p>{{ time_now}}</p>
    {% if is_kind == 'Новости' %}
        <a href="{% url 'news_search' %}" class="btn btn-outline-info" data-mdb-ripple-color="dark">Поиск</a>
    {% endif %}
    <hr style="margin-bottom: 3em">

    {% if is_kind != 'Новости' %}
    <form action="" method="get">
       {{ filterset.form.as_p }}
        <input type="submit" class="btn btn-info" value="Найти" />
    </form>
    <hr>
    <br/>
    {% endif %}
    {% if news%}
       <table class="table table-striped table-hover" >
           <tr>
               <td>Название</td>
               <td>Дата</td>
               <td>Рейтинг</td>
               <td>Описание</td>
           </tr>

           {% for publ in news %}
           <tr >
               <td><a href="{{ publ.id }}">{{ publ.title|censor }}</a></td>
               <td>{{ publ.date|date_converter}}</td>
               <td>{{ publ.rate }}</td>
               <td>{{ publ.main_text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}

    <br />
    <hr>

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}"> << </a>
       {% if page_obj.previous_page_number != 1 %}
            ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}"> >> </a>
       {% endif %}
    {% endif %}

    {% if is_registered %}
        <hr>
        <form action="{% url 'subscribe' post_category %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-lg btn-info" value="Подписаться на новости" />
        </form>
    {% endif %}
{% endblock content %}